.fancyboxpromo-wrap,
.fancyboxpromo-skin,
.fancyboxpromo-outer,
.fancyboxpromo-inner,
.fancyboxpromo-image,
.fancyboxpromo-wrap iframe,
.fancyboxpromo-wrap object,
.fancyboxpromo-nav,
.fancyboxpromo-nav span,
.fancyboxpromo-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancyboxpromo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

.fancyboxpromo-skin {
    position: relative;     
    text-shadow: none;
    /*-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #fff !important;*/
    box-shadow: 0 0 10px 0 rgba(0,0,0,.4);
    /*background-color: #ffffff;*/

}

.fancyboxpromo-opened {
    z-index: 9999999;
}

.fancyboxpromo-opened .fancyboxpromo-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancyboxpromo-outer, .fancyboxpromo-inner {
    position: relative;
    /*-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;*/

}

.fancyboxpromo-inner {
    /*overflow: auto!important;*/
    overflow: hidden !important;
}

.fancyboxpromo-type-iframe .fancyboxpromo-inner {
    -webkit-overflow-scrolling: touch;
}

.fancyboxpromo-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancyboxpromo-image, .fancyboxpromo-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancyboxpromo-image {
    max-width: 100%;
    max-height: 100%;
}

#fancyboxpromo-loading, .fancyboxpromo-close, .fancyboxpromo-prev span, .fancyboxpromo-next span {
    /*background-image: url(fancyboxpromo_sprite.png);*/
    /*background-color: transparent;
    background-image: url('/img/icons.png');*/

}

#fancyboxpromo-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancyboxpromo-loading div {
}

.fancyboxpromo-close {
    /*position: absolute;
    top: 4px;
    right: 5px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    z-index: 8040;*/
    background-color: transparent;
    background-image: url('../img/icon_close.png');
    background-repeat: no-repeat;    
    position: absolute;
    width: 42px;
    height: 41px;
    right: -46.5px;
    top: -46.5px;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 99999999;
}
.fancyboxpromo-close:hover {
    background-position: 0 -42px;
}

.fancyboxpromo-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(blank.gif); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 9999999;
}

.fancyboxpromo-prev {
    left: 0;
}

.fancyboxpromo-next {
    right: 0;
}

.fancyboxpromo-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancyboxpromo-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancyboxpromo-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancyboxpromo-nav:hover span {
    visibility: visible;
}

.fancyboxpromo-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancyboxpromo-lock {
   /* overflow: visible !important;
    width: auto;*/
}

.fancyboxpromo-lock body {
    /*overflow: hidden !important;*/
}

.fancyboxpromo-lock-test {
    /*overflow-y: hidden !important;*/
}

.fancyboxpromo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 99999;
    /*background: #f1f1f1;  */
    /*background: url(fancyboxpromo_overlay.png);*/
    background-color: rgba(0, 0, 0, 0.7);
    /*display: none;*/
    display: none !important;
}

.fancyboxpromo-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;   
}

.fancyboxpromo-lock .fancyboxpromo-overlay {
    overflow: auto;
    /*overflow-y: scroll;*/
    display: none;
}

/* Title helper */

.fancyboxpromo-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancyboxpromo-opened .fancyboxpromo-title {
    visibility: visible;
}

.fancyboxpromo-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 999999;
    text-align: center;
}

.fancyboxpromo-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    /*-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;*/
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancyboxpromo-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancyboxpromo-title-inside-wrap {
    padding-top: 10px;
}

.fancyboxpromo-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5){

    /*#fancyboxpromo-loading, .fancyboxpromo-close, .fancyboxpromo-prev span, .fancyboxpromo-next span {
        background-image: url(fancybox_sprite@2x.png);
        background-size: 44px 152px; 
    }
    
    #fancybox-loading div {
        background-image: url(fancyboxpromo_loading@2x.gif);
        background-size: 24px 24px; 
    }*/
}