/* === Markets ==== */
#topbar .nav .markets {
	float: left;
	cursor: pointer;
	display: table;
	height: 100%;
	margin-right: 20px;
    margin-left: -25px
}
#topbar .nav .markets .market_options {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
#topbar .nav .markets .market_options .selected_market {
	margin: 0 0 1px 0;
	font-size: 16px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #6fdbff;
	padding: 1px 0 2px 19px;
	position: relative;
	z-index: 14;
}
#topbar.white_topbar .nav .markets .market_options .selected_market {
	color: #000;
}
#topbar .nav .markets .market_options .select_market {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	visibility: hidden;
	position: absolute;
	background-color: rgba(16, 18, 24, 0.94);
	width: 160px;
	z-index: 13;
	right: -20px;
	margin-top: -33px;
	padding-top: 40px;
	height: 280px;
}
#topbar .nav .markets .market_options .select_market .markets_list {
	border-top: 1px solid #212324;
	padding: 0px;
}
#topbar .nav .markets .market_options:hover .select_market{
	visibility: visible;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
#topbar .nav .markets .market_options .select_market .markets_list .scroll_wrapper {
	max-height: 280px;
	overflow: auto;
}
#topbar .nav .markets .market_options .select_market .markets_list .scroll_wrapper ul {
	margin: 0;
	padding: 0;
}
#topbar .nav .markets .market_options .select_market .markets_list .scroll_wrapper ul li {
	height: 39px;
	line-height: 39px;
	display: block;
	border-bottom: 1px dotted #212324;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 200;
	padding-left: 10px;
}
#topbar .nav .markets .market_options .select_market .markets_list .scroll_wrapper ul li a {
	display: block;
	color: #fff;
	-webkit-font-smoothing: subpixel-antialiased;
}

.nav_bar .nav_bar_wrapper .fixed_bar .fixed_bar_content .markets {
    display: none;
}
/* line 278, content/airstatic/assets/style/common/inner.scss */
#topbar .nav .markets .market_options .select_market .markets_list .scroll_wrapper ul li.selected {
  background: transparent url(../../assets/graphic/common/icon_check.png) 90% 50% no-repeat;
}
/* line 282, content/airstatic/assets/style/common/inner.scss */
#topbar .nav .markets .market_options .select_market .markets_list .scroll_wrapper ul li.selected a {
  color: #6fdbff;
}

.ms-choice > div {
    background: url('../images/multiple-select.png') right top no-repeat;
}

.ms-choice > div.open {
    background: url('../images/multiple-select.png') left top no-repeat;
}

.ms-search input {
    background: #fff url('../images/multiple-select.png') no-repeat 100% -22px;
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}