@media screen and (max-height: 700px) {
  /* @group Fixes for resolutions less than max-width of the page */
  /* line 5, content/airstatic/assets/style/media/below_max_height.scss */
  .dialog .dialog_wrapper .dialog_content.dialog_conditions {
    max-height: 350px !important;
  }
  /* line 8, content/airstatic/assets/style/media/below_max_height.scss */
  .dialog .dialog_wrapper .dialog_content.dialog_conditions .dialog_form .conditions_dialog {
    height: 200px;
  }
}
@media screen and (max-width: 990px) {
  /* @group Fixes for resolutions less than max-width of the page */
  /* line 3, content/airstatic/assets/style/media/below_max.scss */
  #results .process_wrapper_content .results_content .results_by_price .results_list .result.passed .prices {
    top: 0;
    bottom: 0;
  }

  /* line 8, content/airstatic/assets/style/media/below_max.scss */
  #results .process_wrapper_content .results_content .prices.following .prices_block {
    position: absolute;
    top: 0;
  }
}
@media screen and (max-width: 1023px) {
  /* line 1, content/airstatic/assets/style/media/below_1023.scss */
  #process.full {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 1024px) {
  /* line 1, content/airstatic/assets/style/media/below_1024.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour.by_matriz .results_list .result .journeys .journeys_block {
    max-width: 750px;
  }

  /* line 12, content/airstatic/assets/style/media/below_1024.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .prices .prices_block {
    position: relative;
  }

  /* line 16, content/airstatic/assets/style/media/below_1024.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .prices_module {
    right: auto;
    left: 780px;
    width: 210px;
  }
  /* line 20, content/airstatic/assets/style/media/below_1024.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .prices_module.hidden {
    position: absolute;
    top: -99999px;
    left: -99999px;
  }
  /* line 25, content/airstatic/assets/style/media/below_1024.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .prices_module div.best_prices_journey {
    position: absolute;
    top: -90px;
    right: 0px;
    width: 210px;
  }

  /* line 35, content/airstatic/assets/style/media/below_1024.scss */
  .form_error .error_cond p {
    line-height: 20px;
  }
}
@media screen and (min-width: 1350px) {
  /* @group Inner Nav bar */
  /* line 6, content/airstatic/assets/style/media/huge.scss */
  .nav_bar .nav_bar_wrapper .inner_nav .menu_trigger {
    width: 25%;
  }
  /* line 10, content/airstatic/assets/style/media/huge.scss */
  .nav_bar .nav_bar_wrapper .inner_nav .inner_breadcrumb {
    width: 50%;
  }
  /* line 14, content/airstatic/assets/style/media/huge.scss */
  .nav_bar .nav_bar_wrapper .inner_nav .inner_menu {
    width: 50%;
  }

  /* @end Inner Nav bar */
  /* @group Inner blocks */
  /* line 26, content/airstatic/assets/style/media/huge.scss */
  .inner_content .inner_block {
    margin-left: 25%;
    padding-right: 25%;
  }
  /* line 33, content/airstatic/assets/style/media/huge.scss */
  .inner_content .title_logo .title_block {
    margin-left: 25%;
    width: 50%;
  }
  /* line 38, content/airstatic/assets/style/media/huge.scss */
  .inner_content .title_logo .logo {
    margin-left: 0;
    position: inherit;
  }
  /* line 49, content/airstatic/assets/style/media/huge.scss */
  .inner_content .inner_block .inner_block_content .baggage_prices_table .baggage_price_wrapper .baggage_price {
    margin-left: -50%;
    padding-left: 50%;
    margin-right: -50%;
    padding-right: 50%;
  }
  /* line 62, content/airstatic/assets/style/media/huge.scss */
  .inner_content .inner_block .services_list ul li .service_content {
    padding-right: 180px;
  }

  /* @end Inner blocks */
  /* @group Info pages */
  /* line 77, content/airstatic/assets/style/media/huge.scss */
  body.info .inner_content .inner_block {
    border: 0;
    padding-left: 25%;
    margin-left: 0;
  }
  /* line 82, content/airstatic/assets/style/media/huge.scss */
  body.info .inner_content .inner_block p, body.info .inner_content .inner_block ul {
    width: 665px;
  }

  /* @end Info pages */
  /* @group Block Standard */
  /* line 94, content/airstatic/assets/style/media/huge.scss */
  .block.block_standard .articles ul {
    width: 100%;
  }

  /* @end */
  /* @group Block Slider */
  /* line 108, content/airstatic/assets/style/media/huge.scss */
  .block.block_slider .articles ul li .article .article_title {
    width: 600px;
  }
  /* line 112, content/airstatic/assets/style/media/huge.scss */
  .block.block_slider .articles ul li .article .header, .block.block_slider .articles ul li .article .right_side {
    width: 50%;
  }
  /* line 116, content/airstatic/assets/style/media/huge.scss */
  .block.block_slider .articles ul li .article .body, .block.block_slider .articles ul li .article .left_side {
    width: 50%;
  }
  /* line 124, content/airstatic/assets/style/media/huge.scss */
  .block.block_slider .paginator {
    left: 50%;
  }

  /* @end */
  /* @group Block Squared */
  /* line 134, content/airstatic/assets/style/media/huge.scss */
  .block.block_squared .articles ul {
    width: 100%;
  }

  /* @end */
  /* @group Block Ancillaries */
  /* line 144, content/airstatic/assets/style/media/huge.scss */
  .block.block_ancillaries .ancillaries_wrapper .slider {
    width: 50%;
  }
  /* line 148, content/airstatic/assets/style/media/huge.scss */
  .block.block_ancillaries .ancillaries_wrapper .fixed_promo {
    width: 50%;
  }
  /* line 151, content/airstatic/assets/style/media/huge.scss */
  .block.block_ancillaries .ancillaries_wrapper .fixed_promo .image {
    right: 0;
  }

  /* @end */
  /* @group Block Mosaic */
  /* line 165, content/airstatic/assets/style/media/huge.scss */
  .block.block_mosaic .articles .mosaic_wrapper {
    width: 100%;
  }

  /* @end */
  /* @group Footer */
  /* line 179, content/airstatic/assets/style/media/huge.scss */
  #footer .footer_wrapper .footer_logo {
    width: 12.5%;
  }
  /* line 183, content/airstatic/assets/style/media/huge.scss */
  #footer .footer_wrapper .footer_nav {
    width: 12.5%;
  }
  /* line 187, content/airstatic/assets/style/media/huge.scss */
  #footer .footer_wrapper .footer_info {
    width: 12.5%;
  }
  /* line 191, content/airstatic/assets/style/media/huge.scss */
  #footer .footer_wrapper .footer_contact {
    width: 25%;
  }
  /* line 198, content/airstatic/assets/style/media/huge.scss */
  #footer .tags .tags_extended .more_tags_list {
    width: 50%;
  }

  /* @group Fieldset options HOME */
  /* line 208, content/airstatic/assets/style/media/huge.scss */
  .ui_get_info form fieldset.options {
    min-height: 25px;
    width: 1140px;
  }

  /* @end */
  /* line 217, content/airstatic/assets/style/media/huge.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .result .journeys .journeys_block .journeys_group .body .matrix_table .departure_flights .departure_header.cell .info .graphic_wrapper.matrix {
    left: 85%;
  }

  /* line 220, content/airstatic/assets/style/media/huge.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour.col1 .results_list .result .journeys .journeys_block .journeys_group .body .matrix_table .departure_flights .departure_header.cell .info .graphic_wrapper.matrix {
    left: 185%;
  }

  /* line 223, content/airstatic/assets/style/media/huge.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour.col2 .results_list .result .journeys .journeys_block .journeys_group .body .matrix_table .departure_flights .departure_header.cell .info .graphic_wrapper.matrix {
    left: 185%;
  }

  /* line 226, content/airstatic/assets/style/media/huge.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour.col3 .results_list .result .journeys .journeys_block .journeys_group .body .matrix_table .departure_flights .departure_header.cell .info .graphic_wrapper.matrix {
    left: 185%;
  }
}
@media screen and (max-width: 1100px) {
  /* line 11, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.seats .extra_body .check_group .check_group_wrapper .group_header .checkbox .field_wrapper label .select_seats {
    /*top:59px;*/
  }

  /* line 15, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.seats .extra_body .check_group .check_group_wrapper .group_header .checkbox .field_wrapper label .close_select_seats {
    /*top: 59px;*/
  }

  /* line 19, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.seats .extra_body .check_group .check_group_wrapper .group_header .checkbox .field_wrapper {
    height: 89px;
  }

  /* line 23, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_body .select_field {
    width: 120px;
  }

  /*EQUIPAJE EXTRA*/
  /* line 32, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group {
    display: table;
    width: 100%;
  }

  /* line 37, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_header {
    display: table-cell;
    vertical-align: middle;
  }

  /*ADULT*/
  /* line 45, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.ADULT .counter_select_group_header .group_title {
    line-height: 15px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  /*CHILD*/
  /* line 53, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.CHILD .counter_select_group_header .group_title {
    line-height: 15px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  /*INFANT*/
  /* line 61, content/airstatic/assets/style/media/below_max_width_1100.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.INFANT .counter_select_group_header .group_title {
    line-height: 15px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  /* line 70, content/airstatic/assets/style/media/below_max_width_1100.scss */
  html.ie9 #checkout .tab-list li a span:before, html.ie10 #checkout .tab-list li a span:before, html.ie11 #checkout .tab-list li a span:before {
    top: -10;
  }
  /* line 73, content/airstatic/assets/style/media/below_max_width_1100.scss */
  html.ie9 #checkout .tab-list li a.paypal span:before, html.ie10 #checkout .tab-list li a.paypal span:before, html.ie11 #checkout .tab-list li a.paypal span:before {
    top: 10;
  }
}
@media screen and (min-width: 1200px) {
  /* line 1, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_conditions .conditions .fieldset_info_list ul li {
    font-size: 13px;
  }

  /* line 6, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper .ctn_row.row_details {
    width: 40%;
  }

  /* line 9, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper .ctn_row {
    width: 60%;
  }

  /* line 15, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper .cell.info_cell {
    width: 40%;
  }

  /* line 18, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper .cell {
    width: 60%;
  }

  /* line 23, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-2 .ctn_row.row_details {
    width: 60%;
  }

  /* line 26, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-2 .ctn_row {
    width: 40%;
  }

  /* line 32, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-2 .cell.info_cell {
    width: 60%;
  }

  /* line 35, content/airstatic/assets/style/media/below_min_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-2 .cell {
    width: 40%;
  }

  /* line 42, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_header .group_title span.detailed_luggage {
    width: 45%;
    margin-bottom: 10px;
  }

  /* line 46, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_header .group_title span.detailed_luggage.extra {
    margin: 0 0 0 5%;
  }

  /*EQUIPAJE EXTRA*/
  /* line 53, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group {
    display: table;
    padding-left: 4%;
    width: 100%;
  }

  /* line 59, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_header {
    display: table-cell;
    vertical-align: middle;
  }

  /*ADULT*/
  /*CHILD*/
  /*INFANT*/
  /* line 67, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.ADULT .counter_select_group_header .group_title, #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.CHILD .counter_select_group_header .group_title, #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.INFANT .counter_select_group_header .group_title {
    display: block;
    line-height: 15px;
    min-height: 80px;
    vertical-align: middle;
    width: auto;
  }

  /* EUROPCAR STATIC*/
  /* line 81, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .checkout_confirm .checkout_blocks .europcar_container .ctn_header .header_discount .sub_discount li {
    font-size: 19px;
    line-height: 18px;
    margin-right: 15px;
    width: auto;
  }

  /* line 88, content/airstatic/assets/style/media/below_min_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .checkout_confirm .checkout_blocks .europcar_container .ctn_header .header_discount .sub_discount li:last-of-type {
    margin-top: 5px;
    clear: left;
  }
}
@media screen and (max-width: 1200px) {
  /* @group Fixes for resolutions less than max-width of the page */
  /* line 3, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .result .journeys .journeys_block .journeys_group .body .journey .hour {
    font-size: 30px;
    padding: 0 2%;
    width: 22%;
    max-width: 105px;
  }

  /* line 9, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .result .journeys .journeys_block .journeys_group .body .journey.matrix .hour {
    font-size: 18px;
    max-width: initial;
  }

  /* line 14, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .prices {
    width: 200px;
  }
  /* line 17, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .prices .prices_block {
    width: 200px;
  }
  /* line 20, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .prices .prices_block .body .price_block .price span {
    font-size: 36px;
  }
  /* line 24, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .prices .prices_block .body .price_block a span {
    right: 10px;
    max-width: 180px;
  }

  /* line 31, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .journeys .journeys_block {
    margin-right: 200px;
  }

  /* line 34, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_by_hour .results_list .result.no_compatible .no_compatible_warning {
    width: 200px;
  }

  /* line 38, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .process_top_bar .top_bar_content .mini_search .mini_search_form_wrapper form .submit .submit_button button {
    padding: 0 12px;
  }

  /* line 42, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .process_top_bar .top_bar_content .mini_search .mini_search_form_wrapper form .airports .airport .input .input_wrapper .editable_wrapper .editable {
    max-width: 85px;
  }

  /* line 46, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .process_top_bar .top_bar_content .mini_search .mini_search_form_wrapper form .submit {
    margin-left: 15px;
  }

  /* line 50, content/airstatic/assets/style/media/below_max_width.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .prices_module .prices_header_result .price_total.large_price span {
    font-size: 40px;
  }

  /* line 65, content/airstatic/assets/style/media/below_max_width.scss */
  body.landing .landing_suma .landing_blocks .block_ancillaries .ancillaries_wrapper .slider .articles ul li .article .header .article_title {
    margin: 18px 0 7px 22px;
    font-size: 25px;
    line-height: 24px;
    width: 60%;
  }
  /* line 71, content/airstatic/assets/style/media/below_max_width.scss */
  body.landing .landing_suma .landing_blocks .block_ancillaries .ancillaries_wrapper .slider .articles ul li .article .header .article_subtitle {
    margin: 0 0 0 22px;
    font-size: 12px;
    line-height: normal;
    width: 60%;
  }
  /* line 103, content/airstatic/assets/style/media/below_max_width.scss */
  body.landing .landing_suma .landing_blocks .block_feature .text.medium {
    width: 90%;
  }
  /* line 106, content/airstatic/assets/style/media/below_max_width.scss */
  body.landing .landing_suma .landing_blocks .block_feature .text .article_title {
    font-size: 25px;
    line-height: 24px;
    margin: 18px 0 7px 22px;
  }
  /* line 111, content/airstatic/assets/style/media/below_max_width.scss */
  body.landing .landing_suma .landing_blocks .block_feature .text .article_subtitle {
    font-size: 12px;
    margin: 0 0 0 22px;
    line-height: normal;
  }
  /* line 118, content/airstatic/assets/style/media/below_max_width.scss */
  body.landing .landing_suma .landing_blocks .block_feature .image .desktop {
    display: none;
  }
  /* line 121, content/airstatic/assets/style/media/below_max_width.scss */
  body.landing .landing_suma .landing_blocks .block_feature .image .mobile {
    display: block;
  }

  /*EQUIPAJE EXTRA*/
  /* line 131, content/airstatic/assets/style/media/below_max_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group {
    display: table;
    width: 100%;
  }

  /* line 136, content/airstatic/assets/style/media/below_max_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_body {
    top: 44%;
  }

  /* line 140, content/airstatic/assets/style/media/below_max_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_header {
    display: table-cell;
    vertical-align: middle;
  }

  /*ADULT*/
  /* line 148, content/airstatic/assets/style/media/below_max_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.ADULT .counter_select_group_header .group_title {
    line-height: 15px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  /*CHILD*/
  /* line 156, content/airstatic/assets/style/media/below_max_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.CHILD .counter_select_group_header .group_title {
    line-height: 15px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  /*INFANT*/
  /* line 164, content/airstatic/assets/style/media/below_max_width.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group.INFANT .counter_select_group_header .group_title {
    line-height: 15px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  /* line 175, content/airstatic/assets/style/media/below_max_width.scss */
  #checkin .journey-flight span.airport {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  /* line 183, content/airstatic/assets/style/media/below_max_width.scss */
  #checkin .journey-flight span.time {
    display: block;
    font-weight: 300;
    line-height: normal;
    padding-left: 20px;
    position: relative;
    top: -4px;
    line-height: 0;
  }

  /* line 195, content/airstatic/assets/style/media/below_max_width.scss */
  #checkin .journey-info .stopovers, #checkin .journey-info .duration {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  /* line 204, content/airstatic/assets/style/media/below_max_width.scss */
  #checkin .journey-rate .cnp_rate,
  #checkin .journey-rate .rate_luggage {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  /* line 212, content/airstatic/assets/style/media/below_max_width.scss */
  #checkin .journey-rate .cnp_rate span,
  #checkin .journey-rate .rate_luggage span {
    display: block;
    font-weight: 300;
    line-height: 20px;
    padding-left: 30px;
  }

  /* line 220, content/airstatic/assets/style/media/below_max_width.scss */
  #process .loading_content .ctn_slider_loading .slider_loading {
    width: 60%;
  }

  /* line 224, content/airstatic/assets/style/media/below_max_width.scss */
  .inner_content .inner_block .inner_block_content .expandable .expanded_info .wrapTable {
    overflow-x: scroll;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  /* @group Fixes for resolutions less than max-width of the page 1440 */
  /* line 14, content/airstatic/assets/style/media/below_max_1440.scss */
  body.landing .landing_suma .landing_blocks .block_ancillaries .ancillaries_wrapper .slider .articles ul li .article .header .article_title {
    margin: 18px 0 7px 22px;
    font-size: 25px;
    line-height: 24px;
    width: 60%;
  }
  /* line 20, content/airstatic/assets/style/media/below_max_1440.scss */
  body.landing .landing_suma .landing_blocks .block_ancillaries .ancillaries_wrapper .slider .articles ul li .article .header .article_subtitle {
    margin: 0 0 0 22px;
    font-size: 12px;
    line-height: normal;
    width: 60%;
  }
  /* line 52, content/airstatic/assets/style/media/below_max_1440.scss */
  body.landing .landing_suma .landing_blocks .block_feature .text.medium {
    width: 65%;
  }
  /* line 55, content/airstatic/assets/style/media/below_max_1440.scss */
  body.landing .landing_suma .landing_blocks .block_feature .text .article_title {
    font-size: 25px;
    line-height: 24px;
    margin: 18px 0 7px 22px;
  }
  /* line 60, content/airstatic/assets/style/media/below_max_1440.scss */
  body.landing .landing_suma .landing_blocks .block_feature .text .article_subtitle {
    font-size: 12px;
    margin: 0 0 0 22px;
    line-height: normal;
  }

  /*EQUIPAJE EXTRA*/
  /* line 80, content/airstatic/assets/style/media/below_max_1440.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group {
    display: table;
    width: 100%;
  }

  /* line 85, content/airstatic/assets/style/media/below_max_1440.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.extras_block .extra_options.luggage .extra_content .extra_body .fieldset_body .counter_select_group .counter_select_group_header {
    display: table-cell;
    vertical-align: middle;
  }
}
@media screen and (min-width: 320px) and (max-width: 1400px) {
  /* @group Fixes for resolutions (320-1400) less than max-width of the page */
  /* line 3, content/airstatic/assets/style/media/suma_320_1400.scss */
  #slider.landing_suma {
    height: 379px !important;
  }

  /* line 6, content/airstatic/assets/style/media/suma_320_1400.scss */
  #content.landing_suma {
    height: 480px !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /* @group Fixes for resolutions (1200-1400) less than max-width of the page */
  /* line 4, content/airstatic/assets/style/media/suma_1200_1400.scss */
  #slider.landing_suma video {
    height: 400px !important;
  }

  /* line 9, content/airstatic/assets/style/media/suma_1200_1400.scss */
  #content.landing_suma video {
    height: 400px !important;
  }
}
@media screen and (min-width: 1400px) {
  /* @group Fixes for resolutions (1200-1400) less than max-width of the page */
  /* line 3, content/airstatic/assets/style/media/suma_min_1400.scss */
  #slider.landing_suma {
    height: 474px !important;
  }
  /* line 5, content/airstatic/assets/style/media/suma_min_1400.scss */
  #slider.landing_suma video {
    height: 490px !important;
  }

  /* line 9, content/airstatic/assets/style/media/suma_min_1400.scss */
  #content.landing_suma {
    height: 580px !important;
  }
  /* line 11, content/airstatic/assets/style/media/suma_min_1400.scss */
  #content.landing_suma video {
    height: 490px !important;
  }

  /* line 16, content/airstatic/assets/style/media/suma_min_1400.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .process_blocks .checkout_block.passengers .block_body ul.detail_baggage li .article .passenger_info dl dd.seat_terms {
    padding-left: 4%;
  }

  /* line 20, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper .ctn_row.row_details {
    width: 35%;
  }

  /* line 23, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper .ctn_row {
    width: 65%;
  }

  /* line 29, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper .cell.info_cell {
    width: 35%;
  }

  /* line 32, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper .cell {
    width: 65%;
  }

  /* line 36, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .prices_module .prices_header_result .price_not_combination {
    max-width: 70%;
  }

  /* line 41, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-1 .ctn_row {
    width: 16%;
  }

  /* line 44, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-1 .ctn_row.row_details {
    width: 84%;
  }

  /* line 47, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-1 .cell {
    width: 16%;
  }

  /* line 50, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-1 .cell.info_cell {
    width: 84%;
  }

  /* line 56, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-2 .ctn_row.row_details {
    width: 70%;
  }

  /* line 59, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-2 .ctn_row {
    width: 30%;
  }

  /* line 62, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-2 .cell.info_cell {
    width: 70%;
  }

  /* line 65, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-2 .cell {
    width: 30%;
  }

  /* line 70, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-3 .ctn_row.row_details {
    width: 55%;
  }

  /* line 73, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journey_row .ctn-wrapper.col-3 .ctn_row {
    width: 45%;
  }

  /* line 76, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-3 .cell.info_cell {
    width: 55%;
  }

  /* line 79, content/airstatic/assets/style/media/suma_min_1400.scss */
  #results .process_wrapper_content .results_scroll .results_content .results_wrapper .journeys_module .journeys_table .header .table_wrapper.col-3 .cell {
    width: 45%;
  }

  /*EUROPCAR*/
  /* line 84, content/airstatic/assets/style/media/suma_min_1400.scss */
  #checkout .process_wrapper_content .process_scroll .process_content .checkout_confirm .checkout_blocks .europcar_container .ctn_header .header_discount .sub_discount {
    padding-left: 0;
  }
}
